
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.app-drag {
  -webkit-app-region: drag;
  app-region: drag;
}

.app-no-drag {
  -webkit-app-region: no-drag;
  app-region: no-drag;
}

/* Animation styles */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* Fix for mobile display */
@media (max-width: 768px) {
  .card {
    margin: 0.5em;
  }
}
